/* #00BA9B -- color logo */
:root{
  --color-navletra: rgb(2, 2, 2);
}
.mi_search{
  height: 2em;
  border-radius: 10px;
}
.mi_nav{
height: 70px;

}
.nav-item{
  text-align: center;
}
.nav_img{
  height: 1.4em;
}
.nav-item{
  width: 80px;
}
.nav_letra{
  font-size: 12px;
  font-weight: bold;
  color: var(--color-navletra);
}