/* #00BA9B -- color logo */

.mi_search{
  height: 2em;
  border-radius: 10px;
}
.mi_nav{
height: 60px;

}
.nav_img{
  height: 1.4em;
}
.nav_items{
  display:block;
  justify-content: center;
  align-items: center;
}